
/** {
    box-shadow: 0 0 0 3px red inset;
    
}*/

.content {
    position: relative;
}

.content__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 200px;

}

.content__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.layout__title {
    font-size: 320px;
    font-family: var(--lato);
    font-weight: 800;
    position: relative;
}
.front__title,
.mid__title {
    position: absolute;
}

.mid__title {
    color: var(--black);
    right: 0px;
    bottom: 0px;
}

.back__title {
    color: var(--blue);
    transform: translate(7px, 7px)
}

.front__title {
    color: var(--pink);
    right: 7px;
    bottom: 7px;
}

.content__subtitle {
    font-family: var(--kanit);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.content__layout .button {
    padding: 12px 28px;
    border: 2px solid var(--pink);
    border-radius: 40px;
    background: linear-gradient(135deg, #FCADE7 14.39%, #89FFFD 86.07%);    color: var(--white);
    font-weight: 700;
    font-family: var(--lato);
    font-size: 28px;
    text-shadow:  0px 1.6px 3.2px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.content__citation {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 36px;
    color: var(--black);
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 42px;
    margin-bottom: 100px;


}
/*
.easter-egg {
    position: absolute;
    width: 363px;
    height: 414px;
    bottom: 0;
    right: 100px;
}*/








