/*==================== VARIABLES CSS ====================*/

:root {
 
    
 
    /*========== Font family ==========*/
    --raleway: 'Raleway', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --poppins: 'Poppins', sans-serif;


    /*========== Color theme ==========*/
    --white: #F9F9F9;
    --black: #1F1F1F;
    --green: #58D7AD;
    --green-dark: linear-gradient(90deg, #58D7AD 0%, #1F1F1F 100%);

    
    
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  width: 100%;
}

html {
    scroll-behavior: smooth;
}

h1,h2, h3, h4 {
    font-family: var(--raleway);
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 1.5px solid var(--green);
}


/*==================== REUSABLE CSS CLASSES ====================*/

.container {
  padding-left: 330px;
  padding-right: 330px;
}

.section {
  padding: 100px 330px;
}

.section__title {
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--white);
}

.section__title span {
  color: var(--green);
}

.section__subtitle {
  font-family: var(--montserrat);
  font-weight: 700;
  color: var(--green);
  text-transform: uppercase;
  font-size: 15px;
}

.section__text {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3em;
  justify-content: center
}*/

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  justify-content: center
}

.green_btn:hover {
  background-color: var(--black);
  color: var(--white);
  box-shadow: 0px 0px 10px -1px #58D7AD, inset -0.3px -0.3px 1px #0C0C0C, inset 0.3px 0.3px 1px #F9F9F9, inset 0px 0px 20px rgba(1, 43, 12, 0.25);
  cursor: pointer;
  transition: 0.3s;
}
.green_btn:focus {
  color: var(--green);
}

/*==================== CSS CLASSES ====================*/


/*====== NAV BAR =======*/
/*.nav__menu {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--black);
  
}
.nav__menu  ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  margin-right: 457px;
  font-family: var(--raleway);
  font-weight: 900;
  color: var(--green);
  font-size: 40px;
}

.nav__link a {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
}

.nav__link a:hover{
  color: var(--green);
}*/

/*====== HOME  =======*/
.home {
  background: url(../img/black-space.png);
  display: flex;
  padding-top: 223px;
  padding-bottom: 223px;
}
.home__subtitle {
  font-family: var(--montserrat);
  font-weight: 700;
  color: var(--green);
  text-transform: uppercase;
}

.home__title {
  font-size: 54px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--white);
}

.home__title span {
  color: var(--green);
}

.home__separation1 {
  width: 200px;
}

.home__text {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 38px;
  max-width: 600px;
}

.home__cta {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--raleway);
  font-weight: 700;
}

.home__cta-title {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
}

.home__cta-subtitle {
  font-size: 12px;
  color: var(--green);
}

.home img:hover{
  background-color: var(--green);
  border-radius: 23.5px;
}

/*====== TEAM =======*/
#team{
  background: linear-gradient(90deg, #000000 -10%, #1F1F1F 55.71%, #58D7AD 209.72%);
}

.team__separation {
  width: 100px;
}


.team__text {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 38px;
  max-width: 1040px;
}

/*====== CAROUSEL =======*/


.carousel {
  padding: 20px;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/planette_full.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.carousel > * {
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 400px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: 50% 50% -482.8427124746px;
  margin-bottom: 3em;
}
.carousel figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  opacity: 0.9;
  background: linear-gradient(to top, #000000 0.1%, #1F1F1F -20%, #58D7AD );
  border-radius: 1.5em;
  border-style: solid;
  border-top-color: var(--green);
  border-right-color: #1F1F1F;
  border-left-color: #1F1F1F;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.carousel figure .card{  backface-visibility: hidden;
}
.carousel figure .card:not(:first-of-type) {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 50% 50% -482.8427124746px;
}
.carousel figure .card:nth-child(2) {
  backface-visibility: hidden;
  transform: rotateY(0.7853981634rad);
}
.carousel figure .card:nth-child(3) {
  backface-visibility: hidden;
  transform: rotateY(1.5707963268rad);
}
.carousel figure .card:nth-child(4) {
  backface-visibility: hidden;
  transform: rotateY(2.3561944902rad);
}
.carousel figure .card:nth-child(5) {
  backface-visibility: hidden;
  transform: rotateY(3.1415926536rad);
}
.carousel figure .card:nth-child(6) {
  backface-visibility: hidden;
  transform: rotateY(3.926990817rad);
}
.carousel figure .card:nth-child(7) {
  backface-visibility: hidden;
  transform: rotateY(4.7123889804rad);
}

.carousel nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.carousel nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.carousel nav button:hover{
  color: var(--white);
}
/*====== CARTES =======*/
.card{
  max-height: 560px;
  max-width: 400px;
}

.card img{
 max-height: 324px;
}

.card__content{
  background-color: #1F1F1F;
  max-height: 238px;
  padding: 2em;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.card__separation {
  width: 80.8px;
}

.card__subtitle {
  font-family: var(--montserrat);
  font-weight: 700;
  color: var(--green);
  text-transform: uppercase;
}

.card__title {
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
}

.card__title span {
  color: var(--green);
}

.card__text {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 10px;
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 38px;
  max-width: 1040px;
}

/*====== SERVICES =======*/
#services {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.services__separation {
  width: 80.8px;
}


.services__text {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 10px;
  color: var(--white);
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 1040px;
  display: flex;
}

.services__content{
  max-width: 704px;
  padding: 2em;
  margin-right: 6em;
}

.services__content__green{
  background: linear-gradient( #0C0C0C 5%, #1F1F1F 20%,#58D7AD 125%);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5em;  
}

.services__content__black{
  background: linear-gradient( #0C0C0C 5%,#1F1F1F 30%);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.5em;;
}

.services__cards{
  max-width: 240px;
  
}

.services__cards_2{
  margin-top: -1.5em;
  max-width: 240px;
  justify-content: center;

}
/*====== BESOINS =======*/
#besoins {
  display: flex;
  background: url(../img/besoins_bgc.png);
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  height: 727px;
}

.besoins__separation{
  width: 375px;
}

.besoins__cards{
  overflow: hidden;
  position: relative; 
  margin: 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #0C0C0C 5%, #1F1F1F 20%,#58D7AD 125%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 353px;
  width: 457px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.besoins__cards:hover{
    transform: scale(1.06);
}

.besoins__title{
  font-size: 32px;
  font-weight: 358;
  color: var(--white);
}
/*====== CONFIANCE =======*/
#confiance {
  background-color: var(--black);
}

.confiance__text{
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
  width: 1040px;
}

.confiance__cards{
  margin: 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #0C0C0C 5%, #1F1F1F 20%,#58D7AD 125%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  width:230px;
  border-radius: 30px;
}


/*====== CONTACT =======*/
#contact {
  background: url(../img/contact_bgc.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__content h2,
.contact__content p {
  text-align: center;
  padding: 0 400px;
}

.contact__separation {
  width: 200px;
  margin: auto;
}

.contact__content p {
  margin: 10px 0 40px;
}


form{
  font-family: var(--raleway  );
  font-weight: 700;
  font-size: 17px;
  color: #F9F9F9;
  background: linear-gradient(180.15deg, #1F1F1F 0.13%, #0C0C0C 99.62%);
  box-shadow: -8px -8px 29px -18px rgba(249, 249, 249, 0.5), 1px 1px 21px rgba(88, 215, 173, 0.1), inset 0px -4px 0px #58D7AD, inset 0px 4px 0px #58D7AD;  border-radius: 35px;
  padding: 39px 172px;
  margin: 0 130px;
}

.contact__inputs-name {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact__inputs-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}

.contact__input-small {
  width: 320px;
}

input,
textarea {
  border: none;
  resize: none;
  border-radius: 8px;
  background-color: var(--white);
  padding: 5px 20px;
  height: 30px;
  margin: 15px 0;
}
.contact__inputs-large-text{
  margin-top: 55px;
}
#msg {
  height: 120px;
}

.contact__footer {
  display: flex;
  justify-content: space-between;
}
.contact__footer button {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 15px;
  color: var(--white);
  padding: 16px 14px;
  background-color: var(--green);
  box-shadow: inset -0.3px -0.3px 1px #0C0C0C, inset 0.3px 0.3px 1px #F9F9F9, inset 0px 0px 20px rgba(1, 43, 12, 0.25);
  border-radius: 5px;
  border: none;
}

.contact__footer-btn-under{
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
footer {
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--black);
  align-items: center;
  
}

footer button{
  border-radius: 8px;
  color: var(--white);
  margin: 2em;
  padding: 0.5em;
  padding-left : 1.5em;
  padding-right:  1.5em;
  background-color: var(--green);
  border: none;
}

footer button:hover{
  background-color:var(--green-dark);
}
.button__tel{
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
}
.button__tel:hover{
  background-color: #58D7AD;
}


/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
  .container {
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .section {
    padding: 8% 8%;
  }
  .grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }

  #services {
    flex-direction: column;
  }
}




/*==================== test  ====================*/

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-family: var(--raleway);
}

.nav__link {
  font-family: var(--poppins);
}

.nav__logo,
.nav__toggle{
  color: var(--green);
  font-weight: 500;
}

.nav__logo:hover{
  color: var(--green);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--green);
}

@media screen and (max-width: 767px){
  
  .nav__menu{
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
      border-radius: 1.5rem 1.5rem 0 0;
  
  }
}

.nav__list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .813rem;
  color: var(--green);
  font-weight: 500;
}

.nav__link:hover{
  color: var(--green);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--green);
}

.nav__close:hover{
  color: var(--black);
}

/* show menu */

.show-menu{
  bottom: 0;
}

/* Active link */
.active-link{
  color: var(--green);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

@media screen and (max-width: 350px){
.nav__menu{
    padding: 2rem 0.25rem 4rem;
}
.nav__list{
    column-gap: 0;
}
}

@media screen and (min-width: 768px){

.header{
    top: 0;
    bottom: initial;
    padding: 0 1rem;
}
  
  .nav{
    height: calc(3rem + 1.5rem);
    column-gap: 1rem;
}
.nav__icon,
.nav__close,
.nav__toggle{
    display: none;
}
.nav__list{
    display: flex;
    column-gap: 2rem;
}

.nav__menu {
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.nav__menu  ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  margin-right: 457px;
  font-family: var(--raleway);
  font-weight: 900;
  color: var(--green);
  font-size: 40px;
}

.nav__link {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
}

.nav__link:hover{
  color: var(--green);
}
}

