/*==================== VARIABLES CSS ====================*/

:root {
 
    
 
    /*========== Font family ==========*/
    --kanit: 'Kanit', sans-serif;
    --lato: 'Lato', sans-serif;
    --roboto: 'Roboto', sans-serif;


    /*========== Color theme ==========*/
    --white: #FCFDF2;
    --black: #171717;
    --blue: #89FFFD;
    --pink: #FCADE7;
    --purple: #6F2BAE;
    --pink-blue-gradient: linear-gradient(135deg, #FCADE7 14.39%, #89FFFD 86.07%);
    --input-color:rgba(0, 0, 0, 0.6);
    --container-color: #fff; 

     /*========== Font Size ==========*/
    --h1-font-size: 5rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.25rem;
    --smaller-font-size: 1rem;

    
    
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}


/* Font size for small devices */
@media screen and (max-width: 745px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*box-shadow: 0 0 0 3px  red inset;*/
}

body {
  width: 100%;
  background-color: var(--white);
}

html {
    scroll-behavior: smooth;
}

h1,h2 {
    font-family: var(--kanit);
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

li{
  display: flex ;
  align-items: center;
}


/*==================== TITLES ====================*/
.home__title,
.home__title-back {
  font-size: var(--h1-font-size);
}
.section__title,
.section__title-back {
  font-size: var(--h2-font-size);
}
.section-titlebox {
  position: relative;
  height: 100px ;
}
.back-middle {
  color: var(--pink);
  text-shadow: 1px 0 var(--blue), -1px 0 var(--blue), 0 1px var(--blue), 0 -1px var(--blue),
  1px 1px var(--blue), -1px -1px var(--blue), 1px -1px var(--blue), -1px 1px var(--blue);
  position: absolute;
  top: 11px;
  left: 2px;
}
.back-last {
  color: var(--white);
  text-shadow: 2px 0 var(--black), -2px 0 var(--black), 0 2px var(--black), 0 -2px var(--black),
  1px 1px var(--black), -1px -1px var(--black), 1px -1px var(--black), -1px 1px var(--black);
  position: absolute;
  top: 15px;
  left: 8px;
}

.home__tittle-back .back-middle {
  top: 13px;
  left: 3px;
}
.home__tittle-back .back-last {
  top: 20px;
  left: 10px;
}

.home__title,
.section__title,
.home__title-back,
.section__title-back {
    font-weight: var(--font-bold);
    text-transform: uppercase;
    font-family: var(--kanit);
    position: absolute;
  }
 
  .home__title,
  .section__title {
     color: var(--black);
  }

  /*==================== REUSABLE CSS CLASSES ====================*/


  .section__subtitle {
    font-family: var(--lato);
    font-weight: var(--font-regular);
    color: var(--black);
    font-size: var(--h3-font-size);
  }
  
  .section__text {
    font-family: var(--roboto);
    font-weight: var(--font-regular);
    font-size: var(--normal-font-size);
  }  
 

  .btn__pink{
    border: 2px solid var(--pink);
    background-color: rgba(252, 173, 231, 0.4);
    border-radius: 89px;
    padding: 20px 40px;
    
  }
  .btn__pink a,
  .btn__white a {
    color:var(--pink);
    font-size: var(--smaller-font-size);
    font-family: var(--roboto);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    }
  
    .btn__white{
      border: 2px solid var(--pink);
      background-color: var(--white);
      border-radius: 89px;
      padding: 20px 40px;  
    }
    

  /*==================== LAYOUT ====================*/

  .grid-base {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  @media screen and (max-width: 900px) {
    .grid-base { grid-template-columns: 1fr;
    }
  }

  
  .section {
    padding: 50px 13%;
  }

  /*====================NAVBAR====================*/
  
  nav{
    box-shadow: 0px 4px 34px -18px #FCADE7;
    padding: 1rem 13%;
  }


  .nav__content,
  .nav__menu{
    display: flex;
    justify-content: space-between;  
  }

  .nav__content-logo {
    max-height: 100px;
  }
  .nav__menu {
    font-family: var(--roboto);
    text-transform: uppercase;
    gap: 2rem;
  }
  .nav__menu-btn {
    padding: 20px 40px;
    background-color: rgba(252, 173, 231, 0.4);
    border: 2px solid #FCADE7;
    border-radius: 89px;
    margin: 20px 0;
  }


  /*==================== HOME ====================*/
.home__content-left {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
  justify-content: center;
}
.home__content-left p.section__text {
  max-width: 600px;
}

.home__title span {
  color: var(--blue);
}

.home__content-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center
}

    /*==================== TEAM ====================*/
.team__content-left {
  position: relative;
  max-width: 613px;

}

.team-po {
  bottom: -10px;
  right: 25px;
}

.team-max {
  bottom: -80px;
  left: 25px;
}

.team-vinc {
  top: -20px;
  left: 80px;
}

.team__content-left-card {
  position: absolute;
    background: var(--pink-blue-gradient);
  padding-right: 58px;
  padding-top: 10px;
}

.team__content-left-card p,
.team__content-left-card h4 {
  font-family: var(--kanit);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.team__content-left-card p {
  color: var(--blue);
  font-size: var(--smaller-font-size);

}

.team__content-left-card h4 {
  color: var(--white);
  font-size: var(--small-font-size);

}

.team__content-right {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
  justify-content: center;
}
  

    /*==================== SERVICES ====================*/



    /*==================== ROADMAP ====================*/

