/* Font size for small devices */
@media screen and (max-width: 768px) {

  .CGU,
  .MentionLegales,
  .PolitiqueConfi {
    padding: 0% 5% 80px 5%;
  }
}


.CGU,
.MentionLegales,
.PolitiqueConfi {
  padding: 0% 13% 80px 13%;
  font-family: var(--roboto);
}

h1 { 
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  text-decoration: underline;
  font-family: var(--kanit);
}

h1,
h2 {
 padding: 1%;
}

