:root {
  /*========== Font family ==========*/
  --kanit: 'Kanit', sans-serif;
  --lato: 'Lato', sans-serif;
  --roboto: 'Roboto', sans-serif;


  /*========== Color theme ==========*/
  --white: #FCFDF2;
  --black: #171717;
  --blue: #89FFFD;
  --pink: #FCADE7;
  --purple: #6F2BAE;
  --pink-blue-gradient: linear-gradient(135deg, #FCADE7 14.39%, #89FFFD 86.07%);
  --input-color:rgba(0, 0, 0, 0.6);
  --container-color: #fff; 
  --bright-pink: #FF41CC;

   /*========== Font Size ==========*/
  --h1-font-size: 5rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.25rem;
  --smaller-font-size: 1rem;
  --footer-font-size: 0.825rem;

  
  
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/* Font size for small devices */
@media screen and (max-width: 768px) {
 :root {
     --big-font-size: 4rem;
     --h3-font-size: 1.25rem;
     --normal-font-size: 1rem;
     --small-font-size: .875rem;
     --smaller-font-size: .813rem;
 }
.CGU,
.MentionLegales,
.PolitiqueConfi
{
 padding: 0% 5% 80px 5%;
}

}


.CGU,
.MentionLegales,
.PolitiqueConfi
{
 padding: 0% 13% 80px 13%;
 font-family: var(--roboto);
}

h1{ font-size: 2em;
font-weight: var(--font-bold);
text-decoration: underline;
}

h1,
h2 {
 padding: 1%;
}

