
  .header__parallax {
    height: 90vh;
    background: url('../img/header__parallax.png') ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .header__title-blue {
    background: -webkit-linear-gradient(299deg, #FCADE7 0%, #89FFFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: var(--kanit);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    text-transform: uppercase;

  }
  .header__discover {
    font-family: var(--montserrat);
    color: var(--black);
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 15vh;
  }

  .header__discover:hover {
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
  }
  @media only screen and (max-width: 768px) {
    .header__discover svg {
      width: 20px;
    }
  }




  
/*==================== AGENCE ====================*/

.agence {
position: relative;
display: flex;
flex-direction: column;
gap: 30px;
}
.body-bg-1 {
  position: absolute;
  width: 36px;
  top: 130px;
  left: 163px;
}
.body-bg-4 {
  position: absolute;
  width: 36px;
  bottom: 311px;
  left: 215px;
}
.agence__separation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.agence__separation-one {
  width: 38px;
}
.agence__separation-two {
  width: 23px;
}
.agence__separation-three {
  width: 13px;
}

@media only screen and (max-width: 768px) {
  .accompagnement h2 {
    padding: 70px 0 10px 0;
  }

}


/*==================== TEAM ====================*/
.team {
  background-color: var(--bg-color);
}
.team__row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  gap: 20px;
}
.team-member {
  position: relative;
  height: 300px;
    width: 270px;
  border-radius: 15px;
  background: var(--white, #FCFDF2);
  border-radius: 15px;
  /*background-image: url('../img/team-card-pauline.png');*/
}
.team-member-area {
  box-shadow: 0.3px 0.3px 1px 0px rgba(249, 249, 249, 0.20) inset, -0.3px -0.3px 1px 0px rgba(12, 12, 12, 0.30) inset, 0px 0px 122px 0px rgba(0, 0, 0, 0.10);
  border-radius: 15px;
  height: 300px;
    width: 270px;

}
.team-member-img {
  position: relative;
  z-index: 6;
}
.team-member-img img {
  height: 247px;
  width: 270px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.6s ease;
  border-radius: 15px 15px 0 0;
}
.team-content {
  text-align: center;
  background-color: var(--white);
  padding-top: 10px;
  width: 100%;
  z-index: 5;
  position: absolute;
  overflow: hidden;
  border-radius: 15px;
}
.team-detail {
  color: var(--black);
}
.team-detail h3 {
  font-family: var(--montserrat);
  font-size: var(--small-font-size);
}
.team-detail p,
.team-content p {
  font-family: var(--roboto);
  font-size: var(--smaller-font-size);

}
.team__social-icons ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.team__social-icons ul li {
  list-style: none;
}
.team__social-icons ul li a {
  font-size: 20px;
  color: var(--pink);
  border-radius: 50px;
  background: var(--white, #FCFDF2);
  box-shadow: 0.30000001192092896px 0.30000001192092896px 1px 0px rgba(249, 249, 249, 0.20) inset, -0.30000001192092896px -0.30000001192092896px 1px 0px rgba(12, 12, 12, 0.30) inset;
}

.team__social-icons ul li a i {
  background: -webkit-linear-gradient(323deg, #FCADE7 0%, #89FFFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px 10px;
}
.team__social-icons ul li a:hover {
  color: var(--black);
}
.team-content {
  height: 55px;
}
.team-content-hr {
  width: 89px;
  border: 2px solid rgba(255, 65, 204, 0.24);
  border-radius: 50px;
  background: var(--linear-fuschia, linear-gradient(63deg, #FF41CC 0%, rgba(255, 65, 204, 0.14) 100%));
  margin: auto;
  margin-top: 20px;
}
.team-member-area:hover .team-content-hr {
  margin-top: -10px;
}
.team-member-area:hover .team-content {
  height: 270px;
  bottom: 0;
  position: absolute;
  padding-top: 40px;
}
.team-member-area:hover .team-detail p {
  padding-bottom: 20px;
  font-weight: 500;
}
.team__inner-text {
  padding: 15px 25px;
}
.team-member-area:hover .team-member-img img {
  top: -50px;
  position: relative;
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 15px;
}

@media only screen and (max-width: 659px) {
  .team__row {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    gap: 70px;
  }
}

@media only screen and (min-width: 660px) and (max-width: 1250px) {
  .team__row {  
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 70px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "team__card-maxime team__card-pauline"
      "team__card-vincent team__card-vincent";
  }
  
  .team__card-maxime { grid-area: team__card-maxime; }
  
  .team__card-pauline { grid-area: team__card-pauline; }
  
  .team__card-vincent { grid-area: team__card-vincent; }
  
}

/*==================== EXPERTISES ====================*/
.expertise {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.expertise__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  row-gap: 30px;
  justify-items: center
}
@media only screen and (min-width: 660px) and (max-width: 1180px) {
  .expertise__grid {
    grid-template-columns: 1fr 1fr ;
  }
}
@media only screen and (max-width: 659px) {
  .expertise__grid {
    grid-template-columns: 1fr ;
    row-gap: 25px;
  }
  .expertise__card {
    max-width: 382px;
  }
}


.expertise__card  {
  display: flex;
  padding: 20px 20px;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 7px 0px rgba(151, 71, 255, 0.20);
}
.expertise__card-img {
  width: 20%;
}
.expertise__card-content h3 {
  color: #2B2E36;
  font-family: var(--montserrat);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
}
.expertise__card-content p {
  color: #2B2E36;
  font-family: var(--roboto);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
}

/*==================== METHODE ====================*/
.methode {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.methode__card-row {
  width: 80%;
 margin: auto;
}
.methode__card {
  display: flex;
  width: 55%;
  align-items: center;
  gap: 40px;
  border-radius: 15px;
  background: var(--white, #FCFDF2);
  box-shadow: 0px 8px 14px 0px rgba(252, 173, 231, 0.50);
  position: relative;
  padding: 20px;
}
.methode__card-right {
  float: right;
}
.methode__card-translate-2 {
  transform: translateY(-15px);
}
.methode__card-translate-3 {
  transform: translateY(-30px);
}
.methode__card-translate-4 {
  transform: translateY(-45px);
}
.methode__card-translate-5 {
  transform: translateY(-60px);
}
.methode__card-left .methode-img {
  width: 15%;
  position: absolute;
  top: -20px;
  left: -20px;
}
.methode__card-right .methode-img {
  width: 15%;
  position: absolute;
  top: -20px;
  right: -20px;
}
.methode__card-img {
  width: 40%;
}
.methode__card-content {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.methode__card-title {
  font-family: var(--montserrat);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  color: var(--black);
}
.methode__card-hr {
  width: 89px;
  border: 2px solid rgba(255, 65, 204, 0.24);
  border-radius: 50px;
  background: var(--linear-fuschia, linear-gradient(63deg, #FF41CC 0%, rgba(255, 65, 204, 0.14) 100%));
  margin-top: 10px;
  margin-bottom: 20px;
}
.methode__card-text {
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  color: var(--black);
}

@media only screen and (max-width: 768px) {
  .methode__card-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0 0px 0;
}
.methode__card {
  flex-direction: column;
  gap: 5px;
  text-align: center;
  width: 90%;
}
.methode__card-title,
.methode__card-hr {
  margin-left: auto;
  margin-right: auto;
}
}

@media only screen and (max-width: 450px) {
  .methode__card-right .methode-img {
  width: 20%;
  position: absolute;
  top: -10px;
  right: -10px;
}
.methode__card-left .methode-img {
  width: 20%;
  position: absolute;
  top: -10px;
  left: -10px;
}
}



/*==================== TWITCH ====================*/
.agence-twitch {
  position: relative;
}

.twitch__elipse {
  position: absolute;
  left: -541px;
  bottom: 363px;
    z-index: 1;
}

.grid-agence {
  justify-items: center;
  padding: 25px 0 50px 0;
}

.twitch__img {
  width: 80%;
}

.twitch__text {
  color: var(--black);
  text-align: justify;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  text-align: left;
}

#API_twitch {
  margin-top: 5em;
  position: relative; /* Make the parent container position relative */
}

.twitchStatus{
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: var(--blue);
  border-radius: 2em 2em 0 0;
}

.liveInfo{
  width: fit-content;
  display: flex;
  align-items: center;
}
.liveInfo i {
  margin: 0 5em 0 2em;
}
.viewersInfos{
 width: 340px;
 background-color: #171717;
 color:#FCFDF2;
 padding: 1rem;
 border-radius: 0 2em 0 0;
}
.viewersInfos i {
  margin: 0 2em 0 -2em ;
}

.twitch_buttons {
  display: flex;
}

.twitch_buttons a {
  color:#171717;
  display: flex;
  align-items: stretch;
  border: none;
  margin: 1vw;
}

.button-container {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  border-radius: 5px;
  align-items: center;
  max-width: 250px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 1px 1px 4px 0px rgba(124, 20, 253, 0.30);}
.twitch__btn-icon {
  background: var(--linear-pink, linear-gradient(135deg, #FCADE7 0%, #89FFFD 100%));
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px  0  0 15px;
}
.twitch__btn-icon img {
  max-width: 50%;
}
.twitch__btn-txt {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 0 15px 15px 0;

}

.twitch__btn-txt h3 {
  color: var(--black);
  font-family: var(--montserrat);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
}

.twitch__btn-txt p {
  color: var(--black);
  font-family: var(--roboto);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
}



.grid-4-2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

@media screen and (min-width: 501px) and (max-width: 1380px) {
  .grid-4-2-1 {
  grid-template-columns: 1fr 1fr;
  justify-items: center
}
}
@media screen and (max-width: 500px){
  .grid-4-2-1 {
  grid-template-columns: 1fr;
  justify-items: center
}
}


