
/*==================== PAGE TITLE ====================*/

.page__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--roboto);
    color: var(--black);
}

.page__tile-box {
    height: 100px;
}

.title__triple {
    font-size: var(--h2-font-size);
    font-family: var(--audiowide);
    font-weight: var(--font-bold);
    text-align: center;
    text-transform: uppercase;
}

.refonte-title__main,
.title__main {
    color: var(--white);
    text-shadow: 2px 0 var(--black), -2px 0 var(--black), 0 2px var(--black), 0 -2px var(--black),
    1px 1px var(--black), -1px -1px var(--black), 1px -1px var(--black), -1px 1px var(--black);
}
.refonte-title__mid,
.title__mid {
    color: var(--pink);
    text-shadow: 1px 0 var(--blue), -1px 0 var(--blue), 0 1px var(--blue), 0 -1px var(--blue),
    1px 1px var(--blue), -1px -1px var(--blue), 1px -1px var(--blue), -1px 1px var(--blue);
    transform: translate(-4px, -65px);

}
.refonte-title__back,
.title__back {
    color: var(--black);
    transform: translate(-6px, -119px);

}

.page__title-text {
    font-size: var(--normal-font-size);
}




/*=================PACKAGE====================*/
.package__price-banner {
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    font-size: var(--small-font-size);
    font-family: var(--roboto);
    font-weight: var(--font-bold);
    color: var(--grey);
    margin-bottom: 80px;
}

.package__price-banner span:hover {
    cursor: pointer;
    background: var(--blue);
    color: var(--black);

}

.price-1 {
    border: 1px solid var(--black);
    padding: 2% 10%;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
}

.price-x {
    border: 1px solid var(--black);
    padding: 2% 10%;
    border-left: none;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
}

.price__banner-active {
    background-color: var(--blue);
    color: var(--black);
}

.price__content {
    display: none;
  }

.freehand__price__content {
    display: none;
}
  
  
  .is-active {
    display: block;
  }


.package__listing {
justify-items: center

}
.package__card {
    display: flex;
    padding: 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 15px;
    border: 1px solid rgba(23, 23, 23, 0.40);
    background: var(--white, #FCFDF2);
}

.package__card-blue {
    border: 4px solid var(--blue);
}

.card-img {
    margin: auto;
    width: 90%;
}

.card-price {
    display: flex;
    align-items: center;
    font-family: var(--roboto);
    gap: 10px;

}

.card-price-1 {
    color: var(--black);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.card-price-month {
    color: var(--grey);
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
}
.card-price-x {
    color: var(--grey);
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    text-decoration: line-through;
}
.card-titlebox {
    height: 20px;
    margin-left: 10px;
}
.card-title {
    font-size: var(--normal-font-size);
    font-family: var(--audiowide);
    font-weight: var(--font-bold);
    text-transform: uppercase;
}

.card-title-main {
    color: var(--white);
    text-shadow: 2px 0 var(--black), -2px 0 var(--black), 0 2px var(--black), 0 -2px var(--black),
    1px 1px var(--black), -1px -1px var(--black), 1px -1px var(--black), -1px 1px var(--black);
}

.card-title-mid {
    color: var(--pink);
    text-shadow: 1px 0 var(--blue), -1px 0 var(--blue), 0 1px var(--blue), 0 -1px var(--blue),
    1px 1px var(--blue), -1px -1px var(--blue), 1px -1px var(--blue), -1px 1px var(--blue);
    transform: translate(-4px, -35px);

}

.card-title-back {
    color: var(--black);
    transform: translate(-6px, -67px);
}

.card-text {
    text-align: justify;
    color: var(--black);
    font-family: var(--roboto);
    font-size: var(--small-font-size);
}

.txt-indent {
    padding-left: 35px;
}



.card-btn {
    color: var(--white);
    text-align: center;
    text-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.50);
    font-size: var(--small-font-size);
    font-family: var(--roboto);
    font-weight: var(--font-bold);
    border-radius: 15px;
    background: linear-gradient(135deg, #FCADE7 0%, #89FFFD 100%);
    padding: 19px 14px;
    margin-left: auto;
    margin-right: auto;
}
.card-btn:hover {
cursor: pointer;
  background: linear-gradient(135deg, rgba(137, 255, 253, 0.6) 14.39%, rgba(252, 173, 231, 0.6) 86.07%);
  transition: 0.3s ease-in-out;
}

/*==================FREEHAND==================*/

.freehand__box {
    padding: 35px 30px;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    border: 1px solid rgba(23, 23, 23, 0.40);
    background: var(--white, #FCFDF2);
    justify-content: space-around
}

.freehand__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}


.freehand__price-banner {
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    font-size: var(--small-font-size);
    font-family: var(--roboto);
    font-weight: var(--font-bold);
    color: var(--grey);
}

.freehand__price-banner span:hover {
    cursor: pointer;
    background: var(--blue);
    color: var(--black);

}

.freehand__price-1 {
    border: 1px solid var(--black);
    padding: 2%;
    border-radius: 15px 0 0 15px;
    width: 200px;
}

.freehand__price-x {
    border: 1px solid var(--black);
    padding: 2%;
    border-left: none;
    border-radius: 0 15px 15px 0;
    width: 200px;
}

.freehand__card-btn {
    margin-left: 0;
}
.freehand__card-img {
    margin: auto;
    width: 70%;
}




/*================== Screen size spe title ==================*/
@media screen and (max-width: 403px) {
    .title__mid {
        transform: translate(-4px, -67px);
    }
    .title__back {
        transform: translate(-6px, -124px);
    }
}


@media screen and (min-width: 404px) and (max-width: 768px) {
    .title__mid {
        transform: translate(-4px, -41px);
    }
    .title__back {
        transform: translate(-6px, -70px);
    }    
}

@media screen and (max-width: 394px) {
    .refonte-title__mid {
        transform: translate(-4px, -67px);
    }
    .refonte-title__back {
        transform: translate(-6px, -124px);
    }
}


@media screen and (min-width: 395px) and (max-width: 768px) {
    .refonte-title__mid {
        transform: translate(-4px, -41px);
    }
    .refonte-title__back {
        transform: translate(-6px, -70px);
    }    
}


/*================== Screen size for phone=================== */
@media screen and (max-width: 768px) {
 
    

    .package__card {
        padding: 40px 30px 15px 30px;
    }

    .card-titlebox {
    height: 20px;
}

    
    .card-title-mid {
        transform: translate(-4px, -25px);
    }
    
    .card-title-back {
        transform: translate(-6px, -47px);
    }
    .card-img {
        width: 70%;
    }
    .freehand__card-img {
        width: 55%;
    }
    .txt-indent {
        padding-left: 0px;
    }
    .freehand__card-btn {
        margin-left: auto;
    }
    .freehand__price-1 {
        width: 120px;
    }
    
    .freehand__price-x {
        width: 120px;
    }
    
}




/*================== Screen size for tablet ==================*/
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .refonte-title__mid,
    .title__mid {
        transform: translate(-4px, -54px);
    }
    .refonte-title__back,
    .title__back {
        transform: translate(-6px, -97px);
    }

    .card-title-mid {
        transform: translate(-4px, -28px);
    }
    .card-title-back {
        transform: translate(-6px, -56px);
    }
    .card-img {
        width: 50%;
    }
    .freehand__card-img {
        width: 40%;
    }
}