.error__title {
    font-family: var(--lato);
    color: var(--black);
    font-weight: 800;
    text-shadow: -7px -6px var(--pink), 8px 5px var(--blue);
    text-transform: uppercase;
    font-size: 300px;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center
}

.content__layout {
    display: flex;
    align-items: center;
    justify-content: center
}
.content__layout img {
    width: 350px;
}
.content__subtitle {
    font-family: var(--kanit);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.button {
    padding: 12px 28px;
    border: 2px solid var(--pink);
    border-radius: 40px;
    background: linear-gradient(135deg, #FCADE7 14.39%, #89FFFD 86.07%);    color: var(--white);
    font-weight: 700;
    font-family: var(--lato);
    font-size: var(--normal-font-size);
    text-shadow:  0px 1.6px 3.2px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    margin-bottom: 50px;
    text-transform: uppercase;
    width: fit-content;
    
}

.content__citation {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: var(--normal-font-size);
    color: var(--black);
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
/*
.easter-egg {
    position: absolute;
    width: 363px;
    height: 414px;
    bottom: 0;
    right: 100px;
}*/

@media screen and (min-width: 460px) and (max-width: 900px) {
    .error__title {
        font-size: 150px;
    }
    .content__layout img {
        width: 175px;
    }
}
@media screen and (max-width: 459px) {
    .error__title {
        font-size: 90px;
    }
    .content__layout img {
        width: 130px;
    }
}






