
  .header__parallax {
    height: 850px;
    background: url('../img/header__parallax.png') ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .header__title-blue {
    background: -webkit-linear-gradient(299deg, #FCADE7 0%, #89FFFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: var(--kanit);
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    text-transform: uppercase;

  }



  
/*==================== ACCOMPAGNEMENT ====================*/

.accompagnement {
position: relative;
}

.accompagnement__text {
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  color: var(--black);
  text-align: center;
}

.accompagnement__quotation-box {
  display: flex;
  gap: 130px;
  margin: 40px 0;
}

.accompagnement__quotation-img {
  width: 50px;
  height: 40px;
}

.accompagnement__explanation-wrapper {
  position: relative;
}

.accompagnement__explanation-box {
  padding: 50px 120px;
  margin: 0 120px 40px 120px;
  justify-content: center;
  align-items: center;
  border-radius: 12.012px;
  border: 1.602px dashed var(--black, #171717);
  background: var(--white, #FCFDF2);
  box-shadow: 0px 0px 3.2031943798065186px 0px rgba(0, 0, 0, 0.25);
  z-index: 100;


}

.accompagnement__explanation {
  background: -webkit-linear-gradient(299deg, #FCADE7 0%, #89FFFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: var(--kanit);
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.body-bg-1 {
  position: absolute;
  width: 36px;
  top: 130px;
  left: 163px;
}

.body-bg-2 {
  position: absolute;
  width: 67px;
  top: -27px;
  right: 93px;
  z-index: -1;
}

.body-bg-3 {
  position: absolute;
  width: 197px;
  top: 58px;
  left: 26px;
  z-index: -1;

}

.body-bg-4 {
  position: absolute;
  width: 36px;
  bottom: 311px;
  left: 215px;
}

.accompagnement__cards {
  width: 300px;
  height: 180px;
}
.accompagnement__cards-listing {
  margin: 40px 5%;
}

.accompagnement__card {
  position: relative;
  display: flex;
  width: 300px;
  height: 180px;
  padding: 8.235px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 25px;
  box-shadow: 0px 3.2941176891326904px 8.235294342041016px 0px rgba(0, 0, 0, 0.25);
  transition: z-index 0.3s; /
}
.accompagnement__card-front {
  background: var(--linear-pink, linear-gradient(135deg, #FCADE7 0%, #89FFFD 100%));
  color: var(--white);
  font-family: var(--roboto);
  font-size: var(--big-font-size);
  font-weight: var(--extra-bold);
  position: absolute;
}
  
.accompagnement__card-back {
  background: var(--white);
  color: var(--black);
  text-align: center;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  border: 4px solid var(--pink);
  position: absolute;
  opacity: 0;
  z-index: -1;
  
}

.accompagnement__cards:hover .accompagnement__card-back {
  opacity: 1;
  z-index: 1;
  transition: 0.5s ease-in-out;

}


/*==================== SOLUTIONS ====================*/

.solutions__text {
  color: var(--black);
  text-align: justify;
  font-family: var(--roboto);
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
}


.carrousel {
  margin: 70px 8%;
  min-height: 280px;
  position: relative;
}
.carrousel__header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 70%;
  top: -2%;
  right: 5vw;
}

.carrousel__navigation-dot {
  fill: var(--white);
  filter: drop-shadow(0px 3.9346303939819336px 3.9346303939819336px rgba(0, 0, 0, 0.25));
  width: 1.5vw;
}
.carrousel__navigation-dot:hover {
  fill: var(--pink);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.carrousel__navigation-dot-pink {
  fill: var(--pink);
}
.carrousel__title {
  text-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.40);
  font-family: var(--kanit);
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  background: -webkit-linear-gradient(135deg, #89FFFD 0%, #FCADE7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.carrousel__content-box {
  display: flex;
  gap: 1vw;
  width: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6vw;
}
.carrousel__content-left {
  display: flex;
  flex-direction: column;
}
.carrousel__content-name {
  color: var(--white);
  font-family: var(--kanit);
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
.carrousel__content-job {
  color: var(--blue);
  text-shadow: 0px 0px 7.226603984832764px 0px rgba(0, 0, 0, 0.20);
  font-family: var(--kanit);
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
.carrousel__content-description {
  color: var(--black, #171717);
  font-family: var(--roboto);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
}



.carrousel__content-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.carrousel__rs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background: url('../img/team__rs-bg.png') center no-repeat;
  background-size: contain;
  margin-top: 15px;
}

.carrousel__rs:hover {
  background: url('../img/team__rs-bg-hover.png') center no-repeat;
  background-size: contain;
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.3s ease-in-out;

}

.carrousel__rs i {
  color: var(--white);
  font-size: 25px;
}

.carrousel__rs-one {
  margin-right: 25px;
}

.carrousel__rs-two {
  margin-top: -10px;
  margin-right: 5px;
}




/*==================== TWITCH ====================*/
.grid-agence {
  justify-items: center
}
.twitch__img {
  max-width: 500px;
}

.twitchStatus{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#API_twitch {
  margin-top: 5em;
  position: relative; /* Make the parent container position relative */
}

#nextStreamInfo {
  position: absolute;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.7); /* Set a background color for visibility */
  color: white; /* Set text color */
  padding: 10px; /* Add padding for better readability */
}


@media only screen and (max-width: 768px) {
 .accompagnement__cards {
  width: 250px;
  height: 150px;
}
.accompagnement__cards-listing {
  margin: 40px 0;
}

.accompagnement__card {
  width: 250px;
  height: 150px;
} 
}
