/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.main {
  padding: 20px;
}

/* Styles spécifiques pour les sections */
.promotion,
.best-sellers,
.new-products {
  padding: 20px;
}

/* Styles spécifiques pour le formulaire de recherche */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
}

/* Styles pour le footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
